{% extends "new_index.html" %}
{% set active_page = "impressum" %}


{% block body %}
    <h2>
        Impressum:
    </h2>
    <p>
        Jan Effenberger <br>
        Scherrstrasse 16 <br>
        76137 Karlsruhe <br>
        <br>
        <br>
        <a href="mailto:jan@effenberger-ol.de">jan@effenberger-ol.de</a>
    </p>
    <hr>
    <h2>
        Datenschutz
    </h2>
    <p>
        Es werden keine Nutzerbezogenen Daten gespeichert. <br>
        Alle eingegebenen Daten werden nur im Arbeitsspeicher gespeichert und beim verlassen der Seite wieder gelöscht.
    </p>
    <hr>
    <h2>
        Mithelfen
    </h2>
    <p>
        Wenn du Lust hast den Rechner mit zu verbessern und dich durch den mehr schlecht als recht kommentierten Code wühlen
        willst oder das ganze Ding lieber bei dir auf dem PC laufen lassen willst als lokale Instanz kannst du gerne auf github vorbeischauen.
        <br>
        Mein Tech-Stack ist relativ simpel: Alles was Algorithmen angeht in Python und fürs Backend Flask.
        Frontend sind eigentlich nur ein paar html templates mit Jinja und Bootstrap zum Hübsch machen. D
        as tuts aber einigermaßen. Der ganze Krempel läuft online auf gcloud app service.
        Also alles sehr überschaubar und leicht zu managen. Wirklich sauber dokumentiert sieht anders aus, freue mich aber über jede Hilfe!
        <br>
        <a class="btn btn-outline-success mt-3" href="https://github.com/Hundsmuhlen/SCM-Rechner/" target="_blank" rel="noopener noreferrer">Der Code auf GitHub </a>
    </p>
{% endblock %}