{% extends "new_index.html" %}
{% set active_page = "impressum" %}


{% block body %}
    <h2>
        Impressum:
    </h2>
    <p>
        Jan Effenberger <br>
        Scherrstrasse 16 <br>
        76137 Karlsruhe <br>
        <br>
        <br>
        jan@effenberger-ol.de
    </p>
    <hr>
    <h2>
        Datenschutz
    </h2>
    <p>
        Es werden keine Nutzerbezogenen Daten gespeichert. <br>
        Alle eingegebenen Daten werden nur im Arbeitsspeicher gespeichert und beim verlassen der Seite wieder gelöscht.
    </p>

{% endblock %}