{% extends "new_index.html"%}
{% set active_page = "median" %}

{% block body %}
    <h3>Schwerpunkt und verschärftes Dominanzkriterium</h3>
    Gib zuerst die Anzahl deiner Punkte ein. Danach die Werte für jeden Punkt mit seinem Gewicht. Du bekommst dann automatisch
    eine Tabelle mit dem verschärften Dominanzkriterium und den Schwerpunkt angezeigt. Ist das verschärfte Dominanzkriterium
    erfüllt wird die Zeile grün markiert.
    <br>
    <hr>
<form method="post" action="/median-settings" class="form-inline">
    <div class="form-group col-4 mx-auto mb-2">
        <input type="number" name="nr_of_points" placeholder="Anzahl an Punkten" class="form-control mx-auto text-center" autofocus>
    </div>
    <div class="form-group col-4 mx-auto mb-2">
        <input type="text" name="weiszfeld_delta" placeholder="Delta für Abbruch vom Weiszfeld Algorithmus" class="form-control mx-auto text-center" autofocus>
    </div>
    <div class="col-4 mx-auto">
         <button class="btn btn-primary" type="submit">Submit </button>
    </div>
</form>

{% endblock %}