{% extends "new_index.html"%}
{% set active_page = "median" %}

{% block body %}
<form method="post" action="/median-input" class="mx-auto">
    {% for i in range(dimensions)%}
    <div class="row justify-content-center gx-1 gy-1 mx-auto">
              <div class="col-3">
                <input type="text" class="form-control mb-2" placeholder="{{i+1}}. Vektor Gewicht"  name="w{{i+1}}" autofocus>
              </div>
              <div class="col-3">
                <input type="text" class="form-control mb-2" placeholder="{{i+1}}. Vektor X-Wert"  name="x{{i+1}}">
              </div>
              <div class="col-3">
                <input type="text" class="form-control mb-2" placeholder="{{i+1}}. Vektor Y-Wert"  name="y{{i+1}}">
              </div>
    </div>
    {% endfor %}
    <div class="col-4 mx-auto">
         <button class="btn btn-primary" type="submit">Submit </button>
    </div>
</form>

{% endblock %}