{% extends "new_index.html"%}
{% set active_page = "metriken" %}
{% block body %}
<h2>Metrikenrechner</h2>

    <div class="alert alert-warning" role="alert">
    Jede der <b>SPALTEN</b> steht hier für einen Vektor!
    </div>

<form method="post" action="/metriken-results">
    {% for i in range(dimensions)%}
        <div class="row justify-content-center gx-5 gy-5 pb-2">
                  <div class="col-3">
                    <input type="text" class="form-control" placeholder="X {{i}}"  name="a1{{i}}" autofocus>
                  </div>
                  <div class="col-3">
                    <input type="text" class="form-control" placeholder="Y {{i}}"  name="a2{{i}}">
                  </div>
        </div>
    {% endfor %}
    <div class="col-4 mx-auto">
         <button class="btn btn-primary" type="submit">Submit </button>
    </div>
</form>

{% endblock %}