


{% block navbar %}

    {% set navigation_bar = [
        ('/', 'index', 'Home'),
        ("/metriken-multi-settings", "metriken-multi", "Metrikenrechner"),
        ('/mittelpunkt-und-radius', 'mp-und-radius', 'Ebene - Center - L1 - MÜK'),
        ("/l1-l8-center-settings", "l1-l8-center", "Ebene - Center - L1 L∞"),
        ('/median-settings', "median", "Ebene - Median - L2, L2²"),
        ("/graph-settings", "graph", "Netzwerk - Center & Median"),
        ("/diskrete-settings", "diskrete", "Diskret - Dual Ascent"),
        ('/impressum', 'impressum', 'Impressum & Mithelfen')
    ] -%}
        {% set active_page = active_page|default('index') -%}



    <nav class="nav nav-pills flex-column flex-sm-row mt-3">
    {% for href, id, caption in navigation_bar %}
      <a
        {% if id == active_page %} class="flex-sm-fill text-sm-center nav-link active" aria-current="page"
        {% else %} class="flex-sm-fill text-sm-center nav-link"
        {% endif %}href="{{ href|e }}">
          {{ caption|e }}
      </a>
    {% endfor %}
    </nav>
{% endblock %}
